<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmsoft.assignment.repository.BookMapper">

    <insert id="saveBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into Book (bookName, isbn, isLoan)
        values (#{bookName}, #{isbn}, #{isLoan})
    </insert>

    <update id="updateBook">
        UPDATE Book
        SET bookName = #{bookUpdateRequest.bookName},
            isbn     = #{bookUpdateRequest.isbn}
        WHERE bookId = #{bookId}
    </update>

    <update id="updateLoanStatus">
        UPDATE Book
        SET isLoan = #{isLoan}
        WHERE bookId = #{bookId}
    </update>

    <select id="findById" resultType="Book">
        select *
        from Book
        where bookId = #{bookId}
    </select>

</mapper>