<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rmsoft.assignment.repository.LoanHistoryMapper">

    <insert id="saveLoanHistory" useGeneratedKeys="true" keyProperty="loanHistoryId">
        insert into LoanHistory (bookId, bookName, lender, localDate)
        values (#{bookId}, #{bookName}, #{lender}, #{localDate})
    </insert>

    <select id="findAllByBookName" resultType="com.rmsoft.assignment.entity.LoanHistory">
        select *
        from LoanHistory
        where bookName = #{bookName}
    </select>

</mapper>